pkgbase = xeneon-edge-hub
	pkgdesc = Native Linux widget dashboard for the Corsair Xeneon Edge and other secondary touchscreens (includes the companion Manager)
	pkgver = 1.0.0beta1
	pkgrel = 1
	url = https://github.com/skyphoenix-it/skyphoenix-edgehub-linux
	install = xeneon-edge-hub.install
	arch = x86_64
	license = MIT
	license = Apache-2.0
	makedepends = cmake
	makedepends = rust
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-svg
	depends = qt6-virtualkeyboard
	depends = qt6-wayland
	depends = hicolor-icon-theme
	source = xeneon-edge-hub-1.0.0-beta.1.tar.gz::https://github.com/skyphoenix-it/skyphoenix-edgehub-linux/releases/download/v1.0.0-beta.1/xeneon-edge-hub-1.0.0-beta.1.tar.gz
	source = xeneon-edge-hub-1.0.0-beta.1.tar.gz.sig::https://github.com/skyphoenix-it/skyphoenix-edgehub-linux/releases/download/v1.0.0-beta.1/xeneon-edge-hub-1.0.0-beta.1.tar.gz.sig
	validpgpkeys = 2F0CAD36DC1D46F3347B7EF293CDC77EACF98990
	sha256sums = 2ed4ed3967acffe1566025ce75e12c37d7dc0129b580e373704cae869990d184
	sha256sums = SKIP

pkgname = xeneon-edge-hub
